[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:tianming23/learning-cxx.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:LearningInfiniTensor/learning-lm-rs.git
